<div id="ticket-post-item">
  <a href="/tickets/<%= @ticket.id%>">artist: <%= @ticket.artist %> | location: <%= @ticket.location %> | date: <%= @ticket.date %> | price: $<%= @ticket.price %></a>
  <a href='/users/<%= @user.id %>/tickets/<%= @ticket.id %>/delete'>Delete this post</a>
</div>


